/* How To Hockey Extras */
.overflow-hidden {
	overflow: hidden !important;
}
.table-wrap {
	overflow-x: scroll;
}
.table-wrap td {
	white-space: wrap !important;
	word-wrap: break-word;
}

/* .gridlove-site-content .gridlove-module .module-header .module-title,
.gridlove-site-content .gridlove-module .module-header .module-title h1,
.gridlove-site-content .gridlove-module .module-header .module-title h2,
.gridlove-site-content .gridlove-module .module-header .module-title h3,
.gridlove-site-content .gridlove-module .module-header .module-title h4,
.gridlove-site-content .gridlove-module .module-header .module-title h5,
.gridlove-site-content .gridlove-module .module-header .module-title h6,
.gridlove-site-content .gridlove-module .module-header .module-desc,
.gridlove-site-content .gridlove-module .module-header .module-desc p,
.gridlove-site-content .gridlove-module .module-header .module-desc i,
.gridlove-site-content .gridlove-module .module-header .module-desc strong,
.gridlove-site-content .gridlove-module .module-header .module-desc b,
.gridlove-site-content .gridlove-module .module-header .module-desc a {
	color: #ffffff;
}
.gridlove-site-content .gridlove-module .module-header .module-desc a:hover {
	color: #cc3333;
} */
